.blinkies-container-top, .blinkies-container-bottom {
    position: fixed;
    left: 0;
    z-index: 1050;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
}

.blinkies-container-top {
    top: -4px;
}

.blinkies-container-bottom {
    bottom: 0;
}

.blinkies-wrapper {
    display: flex;
    flex-shrink: 0;
    animation: scrollBlinkies 100s linear infinite;
}

.blinkies-badge {
    width: 150px;
    height: auto;
}

@keyframes scrollBlinkies {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
